.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    }
    .register_form{
        display: flex;
        flex-direction: column;
    }
    .register_form >h1{
        font-size: 35px;
        margin-bottom: 10px;
        padding-bottom: -1px;
    }
    .register_form >input{
        min-width:300px;
        padding: 20px 0;
        padding-left:15px;
        margin-bottom: 10px;
        outline: none;
        border:  1px solid black;
        font-family: 'Times New Roman', Times, serif;
        border-radius: 2px;
        font-size: 15px;
    }
    .submit_btn{
        padding: 17px 30px;
        margin-top: 10px;
        background-color: aqua;
        border: 1px solid rgb(125, 170, 170);
        color: black;
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
        border-radius: 3px;
    }